@import "tailwindcss";
  
@theme inline {
  --font-primary: oswald;
  --font-secondary: roboto;
}
@theme {
  --color-primary: #612B34;
  --color-secondary: #d0cccc;
  --color-text: #000000;
  --color-bg: #ffffff;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}